Repository penpot/penpot, pull requests merged in 2025-04, with the labels that each got.

#6182 :wrench: Log error on process animation frame
  render-wasm/src/main.rs
Labels: new render

#6189 :bug: Fix stroke image rendering
  render-wasm/src/render/strokes.rs
  render-wasm/src/shapes/strokes.rs
Labels: new render

#6230 :bug: Fix bytes-alloc-32
  frontend/src/app/render_wasm/api.cljs
  frontend/src/app/render_wasm/mem.cljs
Labels: new render

#6220 :tada: Update font and variant on change
  frontend/src/app/render_wasm/shape.cljs
Labels: new render

#6208 :wrench: Fix Rust tests
  render-wasm/_build_env
  render-wasm/src/main.rs
  render-wasm/src/render.rs
  render-wasm/src/render/debug.rs
  render-wasm/src/shapes/modifiers.rs
  render-wasm/src/shapes/transform.rs
  render-wasm/src/uuid.rs
  render-wasm/test
Labels: new render

#6239 :bug: Fix render wasm build
  render-wasm/_build_env
Labels: new render

#6258 :bug: Remove children correctly
  frontend/src/app/render_wasm/api.cljs
  render-wasm/src/main.rs
  render-wasm/src/mem.rs
  render-wasm/src/shapes.rs
Labels: new render

#6249 :wrench: Do not try to set svg path attrs if none
  frontend/src/app/render_wasm/api.cljs
Labels: new render

#6269 :wrench: Return the test output
  render-wasm/test
Labels: new render

#6242 :tada: Load built-in font and its variants (wasm)
  frontend/src/app/main/fonts.cljs
  frontend/src/app/render_wasm/api/fonts.cljs
  render-wasm/src/fonts/RobotoMono-Regular.ttf
  render-wasm/src/fonts/sourcesanspro-regular.ttf
  render-wasm/src/render/fonts.rs
  render-wasm/src/shapes/fonts.rs
  render-wasm/src/shapes/text.rs
Labels: new render

#6273 :bug: Fix incorrect undo handling on path edition
  CHANGES.md
  common/src/app/common/data/undo_stack.cljc
Labels: hotfix

#6282 :bug: Fix problem with booleans in wasm
  frontend/src/app/render_wasm/shape.cljs
Labels: new render

#6288 :sparkles: Copy values of same named properties moving a variant into…
  common/src/app/common/files/validate.cljc
  common/src/app/common/logic/variant_properties.cljc
  common/src/app/common/types/variant.cljc
  frontend/playwright/ui/specs/variants.spec.js
  frontend/src/app/main/data/workspace/variants.cljs
Labels: variants

#6274 :sparkles: Modifiers grid multi-span
  common/src/app/common/geom/shapes/grid_layout/layout_data.cljc
  render-wasm/src/shapes/modifiers.rs
  render-wasm/src/shapes/modifiers/flex_layout.rs
  render-wasm/src/shapes/modifiers/grid_layout.rs
Labels: new render

#6281 :bug: Fix avoid uncacheable tiles
  render-wasm/src/render.rs
  render-wasm/src/render/tiles.rs
Labels: new render

#6310 :sparkles: Reparent modifiers
  frontend/src/app/main/data/workspace/modifiers.cljs
  frontend/src/app/render_wasm/api.cljs
  frontend/src/app/render_wasm/serializers.cljs
  render-wasm/src/main.rs
  render-wasm/src/render.rs
  render-wasm/src/shapes.rs
  render-wasm/src/shapes/modifiers.rs
  render-wasm/src/shapes/modifiers/flex_layout.rs
  render-wasm/src/shapes/transform.rs
  render-wasm/src/state.rs
Labels: new render

#6312 :bug: Fix last shape removal
  frontend/src/app/render_wasm/api.cljs
Labels: new render

#6318 :wrench: Improve Rust dev env
  docker/devenv/Dockerfile
  render-wasm/_build_env
  render-wasm/build
  render-wasm/test
Labels: new render

#6298 :sparkles: Send fill + Stops in a single wasm call
  frontend/src/app/render_wasm/api.cljs
  frontend/src/app/render_wasm/serializers/color.cljs
  frontend/src/app/render_wasm/serializers/fills.cljs
  render-wasm/src/main.rs
  render-wasm/src/mem.rs
  render-wasm/src/shapes.rs
  render-wasm/src/shapes/fills.rs
  render-wasm/src/wasm.rs
  render-wasm/src/wasm/fills.rs
  render-wasm/src/wasm/strokes.rs
Labels: new render

#6334 :bug: Fix variant from a shared lib doesnt't show props
  common/src/app/common/files/variant.cljc
  frontend/src/app/main/ui/workspace/sidebar/options/menus/component.cljs
Labels: variants

#6266 :bug: Fix unions for new render
  render-wasm/src/shapes/paths.rs
Labels: new render

#6278 :wrench: Parse text leaves all at once
  frontend/src/app/render_wasm/api.cljs
  frontend/src/app/render_wasm/api/fonts.cljs
  frontend/src/app/render_wasm/api/texts.cljs
  frontend/src/app/render_wasm/serializers.cljs
  render-wasm/src/shapes.rs
  render-wasm/src/shapes/text.rs
  render-wasm/src/utils.rs
  render-wasm/src/wasm/text.rs
Labels: new render

#6303 :bug: Fix extract component variant from variant with path
  common/src/app/common/logic/variant_properties.cljc
Labels: variants

#6313 :tada: Improve images performance
  frontend/src/app/render_wasm/api.cljs
  render-wasm/src/render.rs
  render-wasm/src/render/debug.rs
  render-wasm/src/render/images.rs
  render-wasm/src/render/surfaces.rs
Labels: new render

#6336 :sparkles: Selection of several components of a variant ar the same time
  common/src/app/common/types/variant.cljc
  common/test/common_tests/variant_test.cljc
  frontend/src/app/main/ui/workspace/sidebar/assets/common.cljs
  frontend/src/app/main/ui/workspace/sidebar/options/menus/component.cljs
Labels: variants

#6349 :bug: Fix rendering order
  render-wasm/src/render.rs
Labels: new render

#6345 :bug: Add migration for decoding and cleaning shape interactions
  backend/src/app/binfile/cleaner.clj
  backend/src/app/binfile/v3.clj
  backend/src/app/rpc/commands/files.clj
  backend/src/app/rpc/commands/files_thumbnails.clj
  common/src/app/common/files/migrations.cljc
  common/src/app/common/schema.cljc
  common/src/app/common/types/shape.cljc
  common/src/app/common/types/shape/shadow.cljc
  frontend/src/app/main/ui/dashboard/grid.cljs
  frontend/src/app/plugins/shape.cljs
  frontend/src/app/util/http.cljs
  frontend/src/app/worker/thumbnails.cljs
Labels: hotfix

#6359 :bug: Fix problems cutting-paste a variant to another page or file
  common/src/app/common/logic/libraries.cljc
  common/src/app/common/logic/variant_properties.cljc
  common/src/app/common/types/variant.cljc
Labels: variants

#6360 :bug: Fix issues on file data migration handling
  backend/src/app/binfile/v3.clj
  backend/src/app/rpc/commands/files.clj
  common/src/app/common/files/migrations.cljc
Labels: hotfix

#6339 :recycle: Refactor how rebuild_tiles works
  render-wasm/Cargo.toml
  render-wasm/_build_env
  render-wasm/src/debug.rs
  render-wasm/src/main.rs
  render-wasm/src/options.rs
  render-wasm/src/render.rs
  render-wasm/src/render/options.rs
  render-wasm/src/state.rs
Labels: new render

#6362 :bug: Add migration for fix old broken root shapes (file migration)
  common/src/app/common/files/migrations.cljc
Labels: hotfix

#6350 :bug: Fix corner case when selecting component to switch
  frontend/src/app/main/ui/workspace/sidebar/options/menus/component.cljs
Labels: variants

#6337 :bug: Fix take new lines into account when rendering text
  frontend/src/app/render_wasm/api/texts.cljs
Labels: new render

#6353 :bug: Fix comment loading crash (new renderer viewport)
  frontend/playwright/data/get-teams-render-wasm.json
  frontend/playwright/ui/specs/render-wasm.spec.js
  frontend/src/app/main/ui/workspace/viewport_wasm.cljs
Labels: new render

#6369 :bug: Calculate text-length in bytes correctly
  frontend/src/app/render_wasm/api/texts.cljs
Labels: new render

#6372 :sparkles: Load emoji font dynamically when initializing
  frontend/src/app/main/ui/workspace/viewport_wasm.cljs
  frontend/src/app/render_wasm/api.cljs
  frontend/src/app/render_wasm/api/fonts.cljs
  frontend/src/app/render_wasm/api/texts.cljs
  render-wasm/src/render/fonts.rs
  render-wasm/src/wasm/fonts.rs
Labels: new render

#6377 :bug: Fix font id serialization
  frontend/src/app/render_wasm/api/fonts.cljs
  frontend/src/app/render_wasm/serializers.cljs
Labels: new render
