Repository penpot/penpot, pull requests merged in 2025-06, with the labels that each got.

#6586 :sparkles: Delete variant property when it has no value anywhere
  frontend/src/app/main/data/workspace/variants.cljs
  frontend/src/app/main/ui/workspace/sidebar/layer_name.cljs
Labels: variants

#6598 :recycle: Migrations for deprecated types and attributes
  common/src/app/common/files/migrations.cljc
Labels: new render

#6601 :sparkles: Move guides and comments for wasm modifiers
  frontend/src/app/main/data/workspace/comments.cljs
  frontend/src/app/main/data/workspace/guides.cljs
  frontend/src/app/main/data/workspace/modifiers.cljs
  frontend/src/app/main/ui/workspace/viewport/guides.cljs
  frontend/src/app/main/ui/workspace/viewport_wasm.cljs
Labels: new render

#6614 :sparkles: Make the hash optional on binfile-v3
  CHANGES.md
  backend/src/app/binfile/v3.clj
Labels: hotfix

#6609 :tada: Implement font fallback to support multiple languages
  frontend/src/app/render_wasm/api.cljs
  frontend/src/app/render_wasm/api/fonts.cljs
  frontend/src/app/render_wasm/api/texts.cljs
  render-wasm/src/render/fonts.rs
  render-wasm/src/shapes/fills.rs
  render-wasm/src/shapes/text.rs
  render-wasm/src/utils.rs
  render-wasm/src/wasm/fonts.rs
Labels: new render

#6623 :sparkles: Send all fills of a shape in a single wasm call
  frontend/src/app/render_wasm/api.cljs
  render-wasm/src/shapes.rs
  render-wasm/src/wasm/fills.rs
Labels: new render

#6634 :bug: Fix wasm crash in set_shape_fills (wasm) when fill list is empty
  frontend/src/app/render_wasm/api.cljs
Labels: new render

#6641 :bug: Fix set-shape-fills serialization (wasm renderer)
  frontend/src/app/render_wasm/api.cljs
Labels: new render

#6643 :recycle: Minor performance improvements
  frontend/src/app/render_wasm/performance.cljc
  render-wasm/Cargo.lock
  render-wasm/Cargo.toml
  render-wasm/_build_env
  render-wasm/src/render.rs
  render-wasm/src/render/surfaces.rs
  render-wasm/src/shapes.rs
  render-wasm/src/state.rs
Labels: new render

#6652 :bug: Fix fonts initialization
  frontend/src/app/render_wasm/api.cljs
  frontend/src/app/render_wasm/api/fonts.cljs
  frontend/src/app/render_wasm/api/texts.cljs
  render-wasm/src/render/fonts.rs
  render-wasm/src/wasm/fonts.rs
Labels: new render

#6624 :wrench: Add methods to render text as path
  render-wasm/docs/texts.md
  render-wasm/src/render.rs
  render-wasm/src/render/shadows.rs
  render-wasm/src/render/strokes.rs
  render-wasm/src/render/text.rs
  render-wasm/src/shapes.rs
  render-wasm/src/shapes/strokes.rs
  render-wasm/src/shapes/text_paths.rs
Labels: new render

#6701 :bug: Fix storing custom fonts
  frontend/src/app/render_wasm/api/fonts.cljs
Labels: new render

#6675 :sparkles: Add grid helpers to wasm
  frontend/src/app/main/ui/workspace/viewport_wasm.cljs
  frontend/src/app/render_wasm/api.cljs
  render-wasm/src/main.rs
  render-wasm/src/render.rs
  render-wasm/src/render/grid_layout.rs
  render-wasm/src/render/surfaces.rs
  render-wasm/src/render/ui.rs
  render-wasm/src/shapes.rs
  render-wasm/src/shapes/modifiers.rs
  render-wasm/src/shapes/modifiers/grid_layout.rs
  render-wasm/src/state.rs
Labels: new render

#6695 :bug: Fix wasm render path issues
  frontend/src/app/render_wasm/api.cljs
  render-wasm/src/render.rs
Labels: new render

#6723 :bug: Fix text fill gradients and add visual regression test for text…
  frontend/playwright/data/render-wasm/get-file-text-styles.json
  frontend/playwright/ui/render-wasm-specs/texts.spec.js
  frontend/playwright/ui/render-wasm-specs/texts.spec.js-snapshots/Renders-a-file-with-styled-texts-1.png
  render-wasm/src/shapes/text.rs
Labels: new render

#6681 :sparkles: Avoid duplicated property names adding a number
  common/src/app/common/logic/variant_properties.cljc
  common/src/app/common/types/variant.cljc
  common/test/common_tests/variant_test.cljc
  frontend/src/app/main/data/workspace/variants.cljs
Labels: variants

#6639 :sparkles: Show warning when duplicated variant prop name and value
  frontend/src/app/main/ui/workspace/sidebar/options/menus/component.cljs
  frontend/src/app/main/ui/workspace/sidebar/options/menus/component.scss
  frontend/translations/en.po
  frontend/translations/es.po
Labels: variants

#6717 :sparkles: Support grid editor with wasm modifiers
  frontend/src/app/main/data/workspace/modifiers.cljs
  frontend/src/app/main/ui/workspace/viewport/grid_layout_editor.cljs
  render-wasm/src/main.rs
  render-wasm/src/math.rs
  render-wasm/src/render.rs
  render-wasm/src/render/grid_layout.rs
  render-wasm/src/shapes.rs
  render-wasm/src/shapes/modifiers.rs
  render-wasm/src/shapes/modifiers/constraints.rs
  render-wasm/src/shapes/modifiers/flex_layout.rs
  render-wasm/src/shapes/modifiers/grid_layout.rs
Labels: new render

#6700 :bug: Fix asynchronous content rendering
  frontend/src/app/main/data/workspace/texts.cljs
  frontend/src/app/main/ui/workspace/viewport_wasm.cljs
  frontend/src/app/render_wasm/api.cljs
  frontend/src/app/render_wasm/api/fonts.cljs
  frontend/src/app/render_wasm/shape.cljs
  render-wasm/src/main.rs
  render-wasm/src/render.rs
  render-wasm/src/render/gpu_state.rs
  render-wasm/src/render/images.rs
  render-wasm/src/render/strokes.rs
  render-wasm/src/state.rs
  render-wasm/src/wasm/fonts.rs
Labels: new render

#6743 :sparkles: Show warning when selecting a copy of conflicted variant
  frontend/src/app/main/ui/workspace/sidebar/options/menus/component.cljs
  frontend/translations/en.po
  frontend/translations/es.po
Labels: variants

#6742 :sparkles: Fix size of 'wasm renderer' debug text on dpr > 1
  frontend/playwright/ui/render-wasm-specs/shapes.spec.js-snapshots/Renders-a-file-with-basic-shapes-boards-and-groups-1.png
  frontend/playwright/ui/render-wasm-specs/shapes.spec.js-snapshots/Renders-a-file-with-mutliple-strokes-1.png
  frontend/playwright/ui/render-wasm-specs/shapes.spec.js-snapshots/Renders-a-file-with-shapes-with-multiple-fills-1.png
  frontend/playwright/ui/render-wasm-specs/shapes.spec.js-snapshots/Renders-a-file-with-solid-gradient-and-image-fills-1.png
  frontend/playwright/ui/render-wasm-specs/shapes.spec.js-snapshots/Renders-a-file-with-strokes-1.png
  frontend/playwright/ui/render-wasm-specs/shapes.spec.js-snapshots/Renders-shapes-taking-into-account-blend-modes-1.png
  frontend/playwright/ui/render-wasm-specs/texts.spec.js-snapshots/Renders-a-file-with-styled-texts-1.png
  frontend/playwright/ui/render-wasm-specs/texts.spec.js-snapshots/Renders-a-file-with-texts-1.png
  frontend/playwright/ui/render-wasm-specs/texts.spec.js-snapshots/Renders-a-file-with-texts-that-use-custom-fonts-1.png
  frontend/playwright/ui/render-wasm-specs/texts.spec.js-snapshots/Renders-a-file-with-texts-that-use-google-fonts-1.png
  frontend/playwright/ui/render-wasm-specs/texts.spec.js-snapshots/Updates-a-text-font-1.png
  render-wasm/src/render.rs
  render-wasm/src/render/fonts.rs
Labels: new render

#6749 :bug: Fix path issues
  frontend/src/app/render_wasm/api.cljs
Labels: new render

#6766 :bug: Fix text auto height
  frontend/playwright/data/render-wasm/get-multiple-texts-base.json
  frontend/playwright/ui/render-wasm-specs/texts.spec.js
  frontend/playwright/ui/render-wasm-specs/texts.spec.js-snapshots/Updates-text-alignment-edition---part-1-1.png
  frontend/playwright/ui/render-wasm-specs/texts.spec.js-snapshots/Updates-text-alignment-edition---part-2-1.png
  frontend/playwright/ui/render-wasm-specs/texts.spec.js-snapshots/Updates-text-alignment-edition---part-3-1.png
  frontend/src/app/main/ui/workspace/sidebar/options/menus/text.cljs
  render-wasm/src/wasm/text.rs
Labels: new render

#6759 :sparkles: Allow variants with no properties
  common/src/app/common/files/repair.cljc
  common/src/app/common/files/validate.cljc
Labels: variants

#6757 :bug: Remove empty properties starting with the last one
  frontend/src/app/main/data/workspace/variants.cljs
Labels: variants

#6794 :bug: Fix problem with fr allocation
  common/src/app/common/geom/shapes/grid_layout/layout_data.cljc
  render-wasm/src/shapes/modifiers/grid_layout.rs
Labels: new render
