Repository penpot/penpot, pull requests merged in 2025-05, with the labels that each got.

#6380 :tada: Add wasm playground environment
  frontend/resources/wasm-playground/js/lib.js
  frontend/resources/wasm-playground/rects.html
  frontend/scripts/_helpers.js
  frontend/scripts/build-app-assets.js
  frontend/scripts/watch.js
Labels: new render

#6378 :bug: Render children in the correct order
  render-wasm/src/render.rs
Labels: new render

#6411 :bug: Fix problem with editor v2
  frontend/src/app/main/ui/workspace/viewport_wasm.cljs
Labels: new render

#6381 :sparkles: Apply modifiers changes into data
  common/src/app/common/geom/shapes/transforms.cljc
  frontend/src/app/main/data/workspace/modifiers.cljs
  frontend/src/app/main/data/workspace/shape_layout.cljs
  frontend/src/app/main/data/workspace/transforms.cljs
  frontend/src/app/render_wasm/api.cljs
  render-wasm/src/main.rs
  render-wasm/src/shapes/modifiers/grid_layout.rs
Labels: new render

#6406 :sparkles: Manage overrides on variants switch
  common/src/app/common/logic/libraries.cljc
  common/src/app/common/logic/variants.cljc
  common/src/app/common/types/shape.cljc
  frontend/src/app/main/data/workspace/libraries.cljs
  frontend/src/app/main/ui/workspace/sidebar/options/menus/component.cljs
Labels: variants

#6384 :tada: Add text solid strokes
  render-wasm/src/render.rs
  render-wasm/src/render/shadows.rs
  render-wasm/src/render/text.rs
  render-wasm/src/shapes.rs
  render-wasm/src/shapes/text.rs
Labels: new render

#6379 :tada: Serialize as bytes all fill kinds
  frontend/src/app/render_wasm/api.cljs
  frontend/src/app/render_wasm/serializers/fills.cljs
  render-wasm/docs/serialization.md
  render-wasm/src/shapes.rs
  render-wasm/src/shapes/fills.rs
  render-wasm/src/shapes/strokes.rs
  render-wasm/src/wasm/fills.rs
  render-wasm/src/wasm/fills/gradient.rs
  render-wasm/src/wasm/fills/image.rs
  render-wasm/src/wasm/fills/solid.rs
  render-wasm/src/wasm/strokes.rs
Labels: new render

#6431 :wrench: Fix linting warnings and errors
  render-wasm/src/render/gpu_state.rs
  render-wasm/src/shapes.rs
Labels: new render

#6423 :bug: Fix restore totally deleted variant should add props as name
  common/src/app/common/logic/libraries.cljc
  common/src/app/common/logic/variant_properties.cljc
Labels: variants

#6436 :sparkles: Text grow width/height
  frontend/src/app/main/data/workspace/texts.cljs
  frontend/src/app/main/data/workspace/transforms.cljs
  frontend/src/app/main/ui/workspace/shapes/text/text_edition_outline.cljs
  frontend/src/app/main/ui/workspace/shapes/text/v2_editor.cljs
  frontend/src/app/main/ui/workspace/sidebar/options/menus/text.cljs
  frontend/src/app/main/ui/workspace/viewport_wasm.cljs
  frontend/src/app/render_wasm/api.cljs
  frontend/src/app/render_wasm/serializers.cljs
  frontend/src/app/render_wasm/shape.cljs
  render-wasm/src/render.rs
  render-wasm/src/shapes.rs
  render-wasm/src/shapes/text.rs
  render-wasm/src/wasm/text.rs
Labels: new render

#6437 :tada: Add text stroke fills
  render-wasm/src/render.rs
  render-wasm/src/shapes.rs
  render-wasm/src/shapes/fills.rs
Labels: new render

#6449 :tada: Add shapes buffer to improve memory allocation
  frontend/resources/wasm-playground/js/lib.js
  frontend/resources/wasm-playground/rects.html
  frontend/src/app/render_wasm/api.cljs
  render-wasm/src/main.rs
  render-wasm/src/render.rs
  render-wasm/src/shapes/modifiers.rs
  render-wasm/src/shapes/modifiers/flex_layout.rs
  render-wasm/src/shapes/modifiers/grid_layout.rs
  render-wasm/src/state.rs
Labels: new render

#6370 :tada: Improve zoom in/out performance
  frontend/resources/wasm-playground/rects.html
  render-wasm/src/render.rs
  render-wasm/src/render/debug.rs
  render-wasm/src/render/surfaces.rs
Labels: new render

#6421 :bug: Fix variants override for nested components
  common/src/app/common/logic/libraries.cljc
  common/src/app/common/logic/variants.cljc
  frontend/src/app/main/data/workspace/libraries.cljs
Labels: variants

#6438 :tada: Cap stop amount in UI for wasm
  common/src/app/common/types/shape.cljc
  frontend/playwright/data/workspace/get-file-fragment-gradient-limits.json
  frontend/playwright/ui/pages/BasePage.js
  frontend/playwright/ui/pages/WorkspacePage.js
  frontend/playwright/ui/specs/colorpicker.spec.js
  frontend/src/app/main/data/workspace/colors.cljs
  frontend/src/app/main/ui/workspace/colorpicker.cljs
  frontend/src/app/main/ui/workspace/colorpicker/gradients.cljs
  frontend/src/app/main/ui/workspace/viewport/gradients.cljs
  frontend/src/app/render_wasm/serializers/fills.cljs
Labels: new render

#6465 :bug: Fix new render masks
  frontend/resources/wasm-playground/js/lib.js
  frontend/resources/wasm-playground/masks.html
  render-wasm/src/render.rs
  render-wasm/src/shapes.rs
Labels: new render

#6472 :sparkles: Set selrect for new render modifiers
  common/src/app/common/geom/shapes.cljc
  frontend/src/app/main/data/workspace/modifiers.cljs
  frontend/src/app/main/data/workspace/texts.cljs
  frontend/src/app/main/data/workspace/transforms.cljs
  frontend/src/app/main/refs.cljs
  frontend/src/app/main/ui/workspace/shapes/text/text_edition_outline.cljs
  frontend/src/app/main/ui/workspace/shapes/text/v2_editor.cljs
  frontend/src/app/main/ui/workspace/viewport/selection.cljs
  frontend/src/app/render_wasm/api.cljs
  render-wasm/src/main.rs
  render-wasm/src/math.rs
  render-wasm/src/shapes/modifiers.rs
  render-wasm/src/wasm/text.rs
Labels: new render

#6478 :bug: Fix fills & strokes when dpr > 1
  render-wasm/src/render.rs
  render-wasm/src/render/debug.rs
  render-wasm/src/render/surfaces.rs
  render-wasm/src/render/tiles.rs
Labels: new render

#6492 :wrench: Enable back clippy rules
  render-wasm/Cargo.lock
  render-wasm/Cargo.toml
  render-wasm/lint
  render-wasm/src/main.rs
  render-wasm/src/math.rs
  render-wasm/src/mem.rs
  render-wasm/src/performance.rs
  render-wasm/src/render.rs
  render-wasm/src/render/blend.rs
  render-wasm/src/render/debug.rs
  render-wasm/src/render/fills.rs
  render-wasm/src/render/fonts.rs
  render-wasm/src/render/options.rs
  render-wasm/src/render/shadows.rs
  render-wasm/src/render/strokes.rs
  render-wasm/src/render/surfaces.rs
  render-wasm/src/render/text.rs
  render-wasm/src/render/tiles.rs
  render-wasm/src/shapes.rs
  render-wasm/src/shapes/layouts.rs
  render-wasm/src/shapes/modifiers.rs
  render-wasm/src/shapes/modifiers/common.rs
  render-wasm/src/shapes/modifiers/constraints.rs
  render-wasm/src/shapes/modifiers/flex_layout.rs
  render-wasm/src/shapes/modifiers/grid_layout.rs
  render-wasm/src/shapes/paths.rs
  render-wasm/src/shapes/strokes.rs
  render-wasm/src/shapes/svgraw.rs
  render-wasm/src/shapes/text.rs
  render-wasm/src/state.rs
  render-wasm/src/uuid.rs
  render-wasm/src/view.rs
  render-wasm/src/wapi.rs
  render-wasm/src/wasm/fonts.rs
  render-wasm/src/wasm/text.rs
Labels: new render

#6425 :sparkles: Manage layers with the same name on variants overrides
  common/src/app/common/logic/variants.cljc
Labels: variants

#6428 :bug: Fix inline styles in code tab
  CHANGES.md
  frontend/src/app/util/code_gen/markup_html.cljs
Labels: hotfix

#6505 :bug: Avoid unnecesary clone call
  frontend/resources/wasm-playground/paths.html
  frontend/resources/wasm-playground/rects.html
  render-wasm/src/render.rs
Labels: new render

#6479 :bug: Fix exception on rendering openapi.json
  CHANGES.md
  backend/src/app/rpc/commands/audit.clj
  backend/src/app/rpc/commands/files.clj
  backend/src/app/rpc/commands/fonts.clj
  backend/src/app/rpc/doc.clj
  common/src/app/common/files/changes.cljc
  common/src/app/common/files/changes_builder.cljc
  common/src/app/common/schema.cljc
  common/src/app/common/schema/desc_js_like.cljc
  common/src/app/common/schema/generators.cljc
  common/src/app/common/schema/openapi.cljc
  common/src/app/common/types/color.cljc
  common/src/app/common/types/tokens_lib.cljc
Labels: hotfix

#6483 :bug: Several bugfixes
  backend/src/app/http/sse.clj
  backend/src/app/rpc/commands/binfile.clj
  backend/src/app/util/events.clj
  common/src/app/common/types/container.cljc
  frontend/scripts/build
  manage.sh
Labels: hotfix

#6473 :sparkles: Control malformed variant formulas
  common/src/app/common/logic/variant_properties.cljc
  common/src/app/common/types/variant.cljc
  common/test/common_tests/variant_test.cljc
  frontend/src/app/main/data/workspace/variants.cljs
  frontend/src/app/main/ui/workspace/sidebar/layer_item.cljs
  frontend/src/app/main/ui/workspace/sidebar/layer_name.cljs
  frontend/src/app/main/ui/workspace/sidebar/layer_name.scss
  frontend/src/app/main/ui/workspace/sidebar/options/menus/component.cljs
  frontend/src/app/main/ui/workspace/sidebar/options/menus/component.scss
  frontend/translations/en.po
  frontend/translations/es.po
Labels: variants

#6453 :tada: Add text fills
  frontend/src/app/main/data/workspace/texts.cljs
  frontend/src/app/render_wasm/api.cljs
  frontend/src/app/render_wasm/api/texts.cljs
  frontend/src/app/render_wasm/serializers/fills.cljs
  frontend/src/app/render_wasm/shape.cljs
  render-wasm/src/render.rs
  render-wasm/src/shapes.rs
  render-wasm/src/shapes/fills.rs
  render-wasm/src/shapes/text.rs
  render-wasm/src/utils.rs
  render-wasm/src/wasm/fills.rs
Labels: new render

#6538 :bug: Fix render shapes in multiple tiles with high dprs
  render-wasm/src/render.rs
Labels: new render

#6526 :bug: Fix zoom performance and behaviour
  frontend/resources/wasm-playground/js/lib.js
  frontend/src/app/render_wasm/api.cljs
  render-wasm/src/main.rs
  render-wasm/src/render.rs
Labels: new render

#6533 :sparkles: Select all variants with errors when locating them from design tab
  frontend/src/app/main/ui/workspace/sidebar/options/menus/component.cljs
Labels: variants

#6544 :sparkles: Use different copies for different variant selection cases
  frontend/src/app/main/ui/workspace/sidebar/options/menus/component.cljs
  frontend/translations/en.po
  frontend/translations/es.po
Labels: variants

#6532 :bug: Sanitize inputs for variant property names and values in design tab
  frontend/src/app/main/ui/workspace/sidebar/options/menus/component.cljs
Labels: variants

#6527 :sparkles: Improve formula validating and parsing
  common/src/app/common/types/variant.cljc
  common/test/common_tests/variant_test.cljc
  frontend/src/app/main/ui/workspace/sidebar/layer_name.cljs
Labels: variants

#6559 :bug: Fix some problems with modifiers
  common/src/app/common/geom/shapes/transforms.cljc
  common/test/common_tests/geom_shapes_test.cljc
  frontend/src/app/main/data/workspace/modifiers.cljs
  frontend/src/app/main/data/workspace/transforms.cljs
  frontend/src/app/main/ui/workspace/viewport_wasm.cljs
  frontend/src/app/render_wasm/api.cljs
  render-wasm/src/main.rs
  render-wasm/src/math.rs
  render-wasm/src/shapes/modifiers.rs
  render-wasm/src/shapes/modifiers/grid_layout.rs
Labels: new render

#6585 :sparkles: Add scale content to render wasm
  frontend/src/app/main/data/workspace/modifiers.cljs
  frontend/src/app/render_wasm/api.cljs
  frontend/src/app/render_wasm/serializers.cljs
  frontend/src/app/render_wasm/shape.cljs
  frontend/translations/en.po
  render-wasm/src/main.rs
  render-wasm/src/render.rs
  render-wasm/src/shapes.rs
  render-wasm/src/shapes/blurs.rs
  render-wasm/src/shapes/corners.rs
  render-wasm/src/shapes/layouts.rs
  render-wasm/src/shapes/modifiers.rs
  render-wasm/src/shapes/modifiers/constraints.rs
  render-wasm/src/shapes/shadows.rs
  render-wasm/src/shapes/strokes.rs
  render-wasm/src/shapes/text.rs
  render-wasm/src/shapes/transform.rs
  render-wasm/src/state.rs
Labels: new render

#6573 :wrench: Fix text parsing and transformation
  render-wasm/src/render.rs
  render-wasm/src/render/text.rs
  render-wasm/src/shapes/text.rs
Labels: new render

#6578 :tada: Disable adding fills in UI when limit has been reached
  common/src/app/common/flags.cljc
  common/src/app/common/types/shape.cljc
  frontend/playwright/data/design/get-file-fills-limit.json
  frontend/playwright/ui/specs/colorpicker.spec.js
  frontend/playwright/ui/specs/design-tab.spec.js
  frontend/src/app/main/data/workspace/colors.cljs
  frontend/src/app/main/ui/workspace/colorpicker.cljs
  frontend/src/app/main/ui/workspace/colorpicker/gradients.cljs
  frontend/src/app/main/ui/workspace/sidebar/options/menus/fill.cljs
  frontend/src/app/main/ui/workspace/viewport/gradients.cljs
  frontend/src/app/render_wasm/api.cljs
  frontend/src/app/render_wasm/serializers/fills.cljs
  frontend/translations/en.po
  frontend/translations/es.po
Labels: new render

#6603 :bug: Fix problem in wasm when duplicate objects
  frontend/src/app/main/data/workspace.cljs
Labels: new render

#6587 :sparkles: Limit the length of property names and values to 60 chars
  common/src/app/common/types/variant.cljc
  common/test/common_tests/variant_test.cljc
  frontend/src/app/main/ui/ds/controls/combobox.cljs
  frontend/src/app/main/ui/ds/controls/combobox.stories.jsx
  frontend/src/app/main/ui/ds/product/input_with_meta.cljs
  frontend/src/app/main/ui/ds/product/input_with_meta.mdx
  frontend/src/app/main/ui/ds/product/input_with_meta.stories.jsx
  frontend/src/app/main/ui/workspace/sidebar/options/menus/component.cljs
Labels: variants
