Repository penpot/penpot, pull requests merged in 2025-09, with the labels that each got.

#7220 :globe_with_meridians: Convert translation single word to label
  frontend/src/app/main/ui/inspect/right_sidebar.cljs
  frontend/src/app/main/ui/workspace/sidebar/options/menus/component.cljs
  frontend/src/app/main/ui/workspace/sidebar/options/menus/typography.cljs
  frontend/translations/en.po
Labels: translations

#7247 :recycle: Refactor into new textlayout module
  render-wasm/src/main.rs
  render-wasm/src/render.rs
  render-wasm/src/render/text.rs
  render-wasm/src/shapes/modifiers.rs
  render-wasm/src/shapes/text.rs
  render-wasm/src/shapes/text_paths.rs
  render-wasm/src/textlayout.rs
  render-wasm/src/wasm/text.rs
Labels: new render

#7261 :bug: Fix when font-weight is a computed int (math resolver)
  common/src/app/common/types/token.cljc
Labels: tokens

#7246 :tada: Inspect styles tab: variants panel
  frontend/src/app/main/ui/inspect/right_sidebar.cljs
  frontend/src/app/main/ui/inspect/styles.cljs
  frontend/src/app/main/ui/inspect/styles/panels/tokens_panel.cljs
  frontend/src/app/main/ui/inspect/styles/panels/variants_panel.cljs
  frontend/src/app/main/ui/inspect/styles/properties_row.cljs
  frontend/src/app/main/ui/inspect/styles/properties_row.scss
  frontend/src/app/main/ui/inspect/styles/style_box.cljs
  frontend/translations/en.po
Labels: tokens

#7288 :bug: Fix create a variant using the contextual menu
  frontend/src/app/main/ui/workspace/context_menu.cljs
Labels: variants

#7287 :recycle: Refactor composite token UI
  frontend/playwright/ui/specs/tokens.spec.js
  frontend/src/app/main/ui/components/radio_buttons.cljs
  frontend/src/app/main/ui/ds/_sizes.scss
  frontend/src/app/main/ui/ds/controls/utilities/input_field.cljs
  frontend/src/app/main/ui/icons.cljs
  frontend/src/app/main/ui/workspace/tokens/management/create/form.cljs
  frontend/src/app/main/ui/workspace/tokens/management/create/form.scss
  frontend/src/app/main/ui/workspace/tokens/management/create/input_tokens_value.cljs
  frontend/translations/en.po
  frontend/translations/es.po
Labels: tokens

#7285 :bug: Fix corner radius
  frontend/src/app/render_wasm/api.cljs
  frontend/src/app/render_wasm/shape.cljs
Labels: new render

#7311 :bug: Fix show in assets panel option for component of variants
  frontend/src/app/main/ui/workspace/context_menu.cljs
  frontend/src/app/main/ui/workspace/sidebar/assets/common.cljs
  frontend/src/app/main/ui/workspace/sidebar/options/menus/component.cljs
Labels: variants

#7309 :bug: Fix boolean operations on rotated shapes
  render-wasm/src/shapes/paths/subpaths.rs
  render-wasm/src/shapes/shape_to_path.rs
Labels: new render

#7318 :lipstick: Align tokens panel vertically to the top
  frontend/src/app/main/ui/inspect/styles/panels/tokens_panel.cljs
  frontend/src/app/main/ui/inspect/styles/panels/tokens_panel.scss
  frontend/src/app/main/ui/inspect/styles/properties_row.cljs
Labels: tokens

#7319 :sparkles: Add shortcut for creating variant to the shortcuts panel
  frontend/src/app/main/data/workspace/shortcuts.cljs
  frontend/src/app/main/ui/components/search_bar.cljs
  frontend/src/app/main/ui/components/search_bar.scss
  frontend/src/app/main/ui/workspace/context_menu.cljs
  frontend/src/app/main/ui/workspace/sidebar/assets/common.cljs
  frontend/src/app/main/ui/workspace/sidebar/shortcuts.cljs
  frontend/src/app/main/ui/workspace/sidebar/shortcuts.scss
  frontend/translations/en.po
  frontend/translations/es.po
Labels: variants

#7329 :bug: Fix focus the first property value when creating a variant
  frontend/src/app/main/data/workspace/variants.cljs
Labels: variants

#7313 :bug: Fix incorrect path data content initialization on pluings api
  common/src/app/common/types/path.cljc
  common/src/app/common/types/shape.cljc
  frontend/src/app/main/data/workspace/drawing/common.cljs
  frontend/src/app/main/data/workspace/modifiers.cljs
  frontend/src/app/main/data/workspace/path/drawing.cljs
  frontend/src/app/plugins/shape.cljs
Labels: hotfix

#7328 :recycle: Decouple shapes serialization from model (rust)
  frontend/src/app/render_wasm/api.cljs
  frontend/src/app/render_wasm/serializers.cljs
  render-wasm/docs/serialization.md
  render-wasm/src/main.rs
  render-wasm/src/render.rs
  render-wasm/src/render/blend.rs
  render-wasm/src/render/strokes.rs
  render-wasm/src/shapes.rs
  render-wasm/src/shapes/blend.rs
  render-wasm/src/shapes/blurs.rs
  render-wasm/src/shapes/bools.rs
  render-wasm/src/shapes/fonts.rs
  render-wasm/src/shapes/layouts.rs
  render-wasm/src/shapes/modifiers/constraints.rs
  render-wasm/src/shapes/shadows.rs
  render-wasm/src/shapes/strokes.rs
  render-wasm/src/shapes/text.rs
  render-wasm/src/wasm.rs
  render-wasm/src/wasm/blend.rs
  render-wasm/src/wasm/blurs.rs
  render-wasm/src/wasm/fonts.rs
  render-wasm/src/wasm/layout.rs
  render-wasm/src/wasm/layouts.rs
  render-wasm/src/wasm/layouts/align.rs
  render-wasm/src/wasm/layouts/constraints.rs
  render-wasm/src/wasm/layouts/flex.rs
  render-wasm/src/wasm/layouts/grid.rs
  render-wasm/src/wasm/paths.rs
  render-wasm/src/wasm/paths/bools.rs
  render-wasm/src/wasm/shadows.rs
  render-wasm/src/wasm/shapes.rs
  render-wasm/src/wasm/strokes.rs
  render-wasm/src/wasm/text.rs
Labels: new render

#7360 :recycle: Decouple serialization from text/layout models"
  frontend/src/app/render_wasm/api.cljs
  frontend/src/app/render_wasm/serializers.cljs
  render-wasm/src/shapes/text.rs
  render-wasm/src/wasm/fills.rs
  render-wasm/src/wasm/text.rs
Labels: new render

#7343 :bug: Fix parsing large paths with multiple subpaths
  frontend/playwright/data/render-wasm/get-subpath-stroke-shadow.json
  frontend/playwright/ui/render-wasm-specs/shapes.spec.js
  frontend/playwright/ui/render-wasm-specs/shapes.spec.js-snapshots/Renders-a-file-with-a-closed-path-shape-with-multiple-segments-using-strokes-and-shadow-1.png
  frontend/src/app/render_wasm/api.cljs
  render-wasm/src/math.rs
  render-wasm/src/render.rs
  render-wasm/src/shapes/paths.rs
  render-wasm/src/shapes/paths/subpaths.rs
  render-wasm/src/wasm/paths.rs
Labels: new render

#7373 :tada: Add SVG panel to inspect styles tab
  frontend/src/app/main/ui/inspect/styles.cljs
  frontend/src/app/main/ui/inspect/styles/panels/svg.cljs
Labels: tokens

#7397 :tada: Add blur panel to inspect styles tab
  frontend/src/app/main/ui/inspect/styles.cljs
  frontend/src/app/main/ui/inspect/styles/panels/blur.cljs
Labels: tokens

#7395 :bug: Fixes resolved value previews in composite typography token form
  frontend/src/app/main/ui/workspace/tokens/management/create/form.cljs
Labels: tokens
