Repository penpot/penpot, pull requests merged in 2025-10, with the labels that each got.

#7377 :tada: Show tokens on color inputs
  common/src/app/common/types/token.cljc
  frontend/playwright/ui/specs/colorpicker.spec.js
  frontend/playwright/ui/specs/tokens.spec.js
  frontend/src/app/main/ui/components/reorder_handler.scss
  frontend/src/app/main/ui/ds/_sizes.scss
  frontend/src/app/main/ui/ds/product/loader.scss
  frontend/src/app/main/ui/ds/spacing.scss
  frontend/src/app/main/ui/ds/utilities/swatch.cljs
  frontend/src/app/main/ui/ds/utilities/swatch.scss
  frontend/src/app/main/ui/workspace/colorpicker.cljs
  frontend/src/app/main/ui/workspace/colorpicker/color_tokens.cljs
  frontend/src/app/main/ui/workspace/colorpicker/gradients.cljs
  frontend/src/app/main/ui/workspace/libraries.scss
  frontend/src/app/main/ui/workspace/sidebar/options.cljs
  frontend/src/app/main/ui/workspace/sidebar/options/menus/color_selection.cljs
  frontend/src/app/main/ui/workspace/sidebar/options/menus/fill.cljs
  frontend/src/app/main/ui/workspace/sidebar/options/menus/stroke.cljs
  frontend/src/app/main/ui/workspace/sidebar/options/rows/color_row.cljs
  frontend/src/app/main/ui/workspace/sidebar/options/rows/color_row.scss
  frontend/src/app/main/ui/workspace/sidebar/options/rows/stroke_row.cljs
  frontend/src/app/main/ui/workspace/sidebar/options/shapes/bool.cljs
  frontend/src/app/main/ui/workspace/sidebar/options/shapes/circle.cljs
  frontend/src/app/main/ui/workspace/sidebar/options/shapes/frame.cljs
  frontend/src/app/main/ui/workspace/sidebar/options/shapes/group.cljs
  frontend/src/app/main/ui/workspace/sidebar/options/shapes/multiple.cljs
  frontend/src/app/main/ui/workspace/sidebar/options/shapes/path.cljs
  frontend/src/app/main/ui/workspace/sidebar/options/shapes/rect.cljs
  frontend/src/app/main/ui/workspace/sidebar/options/shapes/svg_raw.cljs
  frontend/src/app/main/ui/workspace/sidebar/options/shapes/text.cljs
  frontend/translations/en.po
  frontend/translations/es.po
Labels: tokens

#7421 :bug: Fix some errors from reviews
  frontend/src/app/main/ui/workspace/colorpicker.cljs
  frontend/src/app/main/ui/workspace/colorpicker/color_tokens.cljs
  frontend/src/app/main/ui/workspace/colorpicker/color_tokens.scss
  frontend/src/app/main/ui/workspace/tokens/management/create/form.cljs
  frontend/src/app/main/ui/workspace/tokens/management/create/form.scss
  frontend/src/app/main/ui/workspace/tokens/management/create/modals.scss
  frontend/translations/cs.po
  frontend/translations/de.po
  frontend/translations/en.po
  frontend/translations/es.po
  frontend/translations/fr.po
  frontend/translations/he.po
  frontend/translations/hi.po
  frontend/translations/hr.po
  frontend/translations/id.po
  frontend/translations/it.po
  frontend/translations/lv.po
  frontend/translations/nl.po
  frontend/translations/sv.po
  frontend/translations/ukr_UA.po
  frontend/translations/zh_CN.po
  frontend/translations/zh_Hant.po
Labels: tokens

#7434 :sparkles: Add typography composite token to changelog
  CHANGES.md
Labels: tokens

#7454 :wrench: Allow line height values from 0 to 1
  render-wasm/src/shapes/text.rs
Labels: new render

#7456 :wrench: Always return shadows in reverse order
  render-wasm/src/render/shadows.rs
  render-wasm/src/shapes.rs
Labels: new render

#7429 :tada: Reorder properties for a component
  CHANGES.md
  common/src/app/common/logic/variant_properties.cljc
  common/src/app/common/types/variant.cljc
  common/test/common_tests/variant_test.cljc
  frontend/playwright/ui/specs/workspace.spec.js
  frontend/src/app/main/data/workspace/variants.cljs
  frontend/src/app/main/ui/hooks.cljs
  frontend/src/app/main/ui/workspace/colorpicker/gradients.cljs
  frontend/src/app/main/ui/workspace/sidebar/layers.cljs
  frontend/src/app/main/ui/workspace/sidebar/options.cljs
  frontend/src/app/main/ui/workspace/sidebar/options/menus/component.cljs
  frontend/src/app/main/ui/workspace/sidebar/options/menus/component.scss
  frontend/src/app/main/ui/workspace/sidebar/options/menus/fill.cljs
  frontend/src/app/main/ui/workspace/sidebar/options/menus/layout_container.cljs
  frontend/src/app/main/ui/workspace/sidebar/options/menus/shadow.cljs
  frontend/src/app/main/ui/workspace/sidebar/options/menus/stroke.cljs
  frontend/src/app/main/ui/workspace/sidebar/options/shapes/frame.cljs
  frontend/src/app/main/ui/workspace/sidebar/options/shapes/multiple.cljs
  frontend/src/app/main/ui/workspace/sidebar/sitemap.cljs
  frontend/src/app/main/ui/workspace/tokens/sidebar.cljs
Labels: variants
