Repository penpot/penpot, pull requests merged in 2025-07, with the labels that each got.

#6821 :recycle: Refactor mutability modifiers in wasm
  render-wasm/src/main.rs
  render-wasm/src/render.rs
  render-wasm/src/render/grid_layout.rs
  render-wasm/src/shapes/modifiers/grid_layout.rs
  render-wasm/src/shapes/text_paths.rs
  render-wasm/src/state.rs
  render-wasm/src/utils.rs
  render-wasm/src/wasm/fills.rs
  render-wasm/src/wasm/fonts.rs
  render-wasm/src/wasm/paths.rs
  render-wasm/src/wasm/strokes.rs
  render-wasm/src/wasm/text.rs
Labels: new render

#6845 :bug: Fix media translation on text nodes on paste
  CHANGES.md
  common/src/app/common/text.cljc
  frontend/src/app/main/data/workspace/clipboard.cljs
Labels: hotfix

#6889 :bug: Fix unexpected exception on processing old texts
  CHANGES.md
  frontend/src/app/main/data/workspace/texts.cljs
Labels: hotfix

#6891 :wrench: Add text decoration styles
  frontend/playwright/data/render-wasm/get-file-text-decoration.json
  frontend/playwright/ui/render-wasm-specs/texts.spec.js
  frontend/playwright/ui/render-wasm-specs/texts.spec.js-snapshots/Renders-a-file-with-text-decoration-1.png
  render-wasm/src/render.rs
  render-wasm/src/render/shadows.rs
  render-wasm/src/render/strokes.rs
  render-wasm/src/render/text.rs
  render-wasm/src/shapes/modifiers.rs
  render-wasm/src/shapes/text.rs
  render-wasm/src/state.rs
  render-wasm/src/utils.rs
  render-wasm/src/wasm/text.rs
Labels: new render

#6864 :sparkles: Add migrations handling on file snapshots
  CHANGES.md
  backend/src/app/migrations.clj
  backend/src/app/migrations/sql/0140-mod-file-change-table.sql
  backend/src/app/rpc/commands/files_snapshot.clj
  common/src/app/common/files/migrations.cljc
Labels: hotfix

#6971 :bug: Fix text width calculation
  render-wasm/src/shapes/text.rs
  render-wasm/src/wasm/text.rs
Labels: new render

#6958 :bug: Fix rendering texts bigger than their selrects in mutiple tiles
  render-wasm/src/shapes.rs
  render-wasm/src/shapes/text.rs
Labels: new render

#6984 :bug: Fix switching theme for wasm render
  frontend/src/app/render_wasm/api.cljs
  frontend/src/app/render_wasm/shape.cljs
Labels: new render

#6988 :bug: Fix visible 0 width strokes in wasm render
  render-wasm/src/render.rs
  render-wasm/src/render/text.rs
  render-wasm/src/shapes.rs
Labels: new render

#6997 :bug: Fix wasm problems
  frontend/src/app/main/data/workspace/pages.cljs
  frontend/src/app/render_wasm/shape.cljs
Labels: new render

#6994 :wrench: Refactor: set page objects once
  frontend/src/app/main/ui/workspace/viewport_wasm.cljs
  frontend/src/app/render_wasm/api.cljs
  frontend/src/app/render_wasm/shape.cljs
Labels: new render

#7003 :bug: Fix wasm transform issues
  frontend/src/app/main/data/workspace/modifiers.cljs
  frontend/src/app/main/data/workspace/transforms.cljs
Labels: new render

#7009 :bug: Fix move empty variant values to the end when component is selected
  frontend/src/app/main/ui/workspace/sidebar/options/menus/component.cljs
Labels: variants

#7017 :bug: Fix title for button when trying to remove last variant property
  frontend/src/app/main/ui/workspace/sidebar/options/menus/component.cljs
  frontend/translations/en.po
  frontend/translations/es.po
Labels: variants

#7015 :bug: Fix empty values should not have dimmed text
  frontend/src/app/main/ui/ds/controls/shared/options_dropdown.cljs
  frontend/src/app/main/ui/ds/controls/shared/options_dropdown.scss
Labels: variants

#7033 :bug: Fix create properties with a default value instead of an empty one
  common/src/app/common/logic/variant_properties.cljc
  common/test/common_tests/logic/variants_test.cljc
  frontend/src/app/main/ui/workspace/sidebar/options/menus/component.cljs
Labels: variants
